

.m0 {
  margin: 0;
}

.p0 {
  padding: 0;
}

body {
 font-family: 'Open Sans', sans-serif;
  /*Section Fix*/
}

body p {
  font-family: 'Open Sans', sans-serif;
  line-height: 26px;
  color: #333;
   margin: 0;
   font-size: 16PX;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

blockquote {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
}
blockquote, q {
    position: relative;
    padding: 4rem 3rem 3rem;
    text-align: center;
    font-size: 2rem;
    line-height: 1.88;
    border: 1px double rgba(0,0,0,.1);
    margin: 6rem 0;
    display: block;
}
thead, th, td {
    border: 1px solid black;
    padding: 10px;
}
ul li {
    line-height: 30px;
}
ol li {
    line-height: 30px;
}
strong {
    font-weight: 600;
    line-height: 35px;
}
tbody a{
  color:#337ab7 !important;
}
dd, dt {
    line-height: 2.428571;
    }
body section.row, body header.row, body footer.row {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/*Ancore*/
a, .btn, button {
  outline: none;
  transition: all 300ms linear 0s;
}
a:before, a:after, .btn:before, .btn:after, button:before, button:after {
  transition: all 300ms linear 0s;
}

img{
    vertical-align: middle;
    max-width: 100%;
}

/*9.start  bhoechie tab */
.list-group-item span{
  font-size: 20px;
  color:#333 !important;
  margin-left: 30px;
  font-weight: 700;
}
.list-group-item{
  text-align: left;
  margin-left: 25px;
}
.about_row_2 {
    margin-top: 180px;
}
div.bhoechie-tab-container{
  z-index: 10;
  padding: 0 !important;
  margin-top: 20px;
  background-clip: padding-box;
  opacity: 0.80;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}



div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active span{
  background-color:transparent;
  color: #0081D5 !important;

}
div.bhoechie-tab-menu div.list-group>a.active .filter-img{
-webkit-filter: grayscale(0%);
    filter: grayscale(0%)
}




div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}

.bhoechie-tab-content h2{
    font-size: 28px;
    color: #29314b;
    font-weight: 700;
    padding: 20px 0px;
}
.bhoechie-tab-content{
  position: relative;
}

.bhoechie-tab-content i.fa {
	font-size: 38px;
	margin-bottom: 5px;
	transition: all 0.5s;
	color: #fff;
	width: 100px;
	height: 100px;
	padding: 30px 0;
	border-radius: 50%;
	background: linear-gradient(to right, #0081D5 0%, #0061a0 100%);
	box-shadow: 10px 10px 10px rgba(0,0,0,.05);
}
.bhoechie-tab-content i.fa:hover {
	background: linear-gradient(to right, #d79f42 0%, #B48537 100%);
}


.tabas-gb-clip{
      position: absolute;
    width: 100%;
    height: 1200px;
  background:#d9d9d9;

  padding-bottom: 200px;
      clip-path: polygon(0% 5%, 100% 0%, 100% 100%, 0% 100%, 10% 100%, 0% 101%, 0% 100%);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 70%, 0% 99%, 0% 97%, 0% 100%) !important;
}

 .bhoechie-tab-content p{
   color: #333;
   font-size: 17px;
   font-weight: 500;
   line-height: 30px;
   margin: 0 auto;
   margin-bottom: 15px;
}

.tabs-img{
  padding: 25px 0px;
  text-align: center;
}

.filter-img{
   -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%)
}

/*End  bhoechie tab */






/*------------------------------------
15.Edit-css
------------------------------------*/
